<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们--仅作学习使用，侵删</title>
</head>
<link rel="stylesheet" href="{CSS_ADD}index/common.cs">
<link rel="stylesheet" href="{CSS_ADD}index/about.css">
<body>
<!--  头部开始  -->
{include file=$header}
<!-- 介绍图片开始 -->
<div class="descImg"></div>
<!-- 介绍图片结束 -->
<!-- 关于开始 -->
<div class="about">
    <div class="aboutContent">
        <div class="aboutTit">关于我们</div>
        <p>PGYTECH(蒲公英智能科技)源自于一群热爱航拍与摄影的年轻人对更佳摄影体验的</p>
        <p>追求。理解需求，每一个创新的理念都源自于对摄影的切身体会; </p>
        <p>追求卓越，每一个产品的打磨都疑聚了设计师对摄影的热爱和理解。自公司创立以来,</p>
        <p>我们一直秉持着"创新,品质,客户体验"的核心理念，不懈追求更高品质的产品和更好</p>
        <p>的客户体验，为每一位摄影爱好者创造航拍与摄影的更多可能性</p>
    </div>
</div>
<!-- 关于结束 -->
<!-- 底部开始 -->
{include file=$footer}
</body>
</html>