<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>售后服务政策</title>
    <link rel="stylesheet" href="{CSS_ADD}index/after.css">
</head>
<body>
{include file=$header}
<style>

</style>
<div class="newPro">
    <div class="proTit">
        <p>售后服务政策</p>
    </div>
</div>
<div class="container" style="width: 1090px;margin: auto">
    <h2 class="sale"></h2>
    <ul class="list-unstyled after-sale">
        <li>
            <h4>一、退换货政策</h4>
            <p>
                1、凡购买PGYTECH商品的用户，可在自签收次日起（以快递记录为准，下同）七日内享受无理由退货服务。退货时用户须出示有效购买凭证，并退回发票（如有）。用户须保证退货商品保持原有品质和功能、外观完好、商品本身及配件的商标和各种标识完整齐全，如有赠品需一并退回，保证退回的产品及赠品均不会影响二次销售。如果商品出现损坏、包装盒缺失、零配件缺失及其他影响二次销售的情况，不予办理退货。退货时产生的物流费用由用户承担。
                自收到符合要求的退货商品之日起七日内向用户返还已支付的货款。退款方式与付款方式相同。具体到账日期可能会受银行、支付机构等因素影响。

                <br /> 2、自用户签收次日起七日内，发生非人为损坏性能故障，经由PGYTECH售后确认后，为用户办理退货业务，退货时用户须出示有效购买凭证，并退回发票（如有）。如有赠品需一并退回。
                <br />3、自用户签收次日起十五日内，发生非人为损坏性能故障，经由PGYTECH售后确认后，为用户办理换货业务，更换整套商品。换货后，商品本身保修期重新计算。
            </p>
        </li>
        <li><br />
            <h4>二、保修政策</h4>
            <p>
                1、自用户签收次日起十五日后，发生非人为损坏性能故障，经由PGYTECH售后确认后，为用户办理维修业务。本有限保修政策仅覆盖从PGYTECH及其授权经销商处购买的产品。
            </p>
            <table class="return-table" border="0" cellspacing="1" cellpadding="0">
                <thead>
                <tr>
                    <th>产品类型</th>
                    <th>保修期限<br />（自用户签收次日起计算）</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>滤镜</th>
                    <th>终身质保</th>
                </tr>
                <tr>
                    <th>电子类产品</th>
                    <th>1年</th>
                </tr>
                <tr>
                    <th>五金类产品</th>
                    <th>1年</th>
                </tr>
                <tr>
                    <th>数据线系列产品</th>
                    <th>1年</th>
                </tr>
                <tr>
                    <th>防水安全箱</th>
                    <th>1年</th>
                </tr>
                <tr>
                    <th>塑胶类产品</th>
                    <th>1年</th>
                </tr>
                <tr>
                    <th>硅胶类产品</th>
                    <th>1年</th>
                </tr>
                <tr>
                    <th>停机坪、停机坪（高级版）、便携包、遮光罩等车缝类</th>
                    <th>1年</th>
                </tr>
                <tr>
                    <th>贴膜类/贴纸系列</th>
                    <th>七天无理由，十五天质量退换，十五天后不提供保修服务</th>
                </tr>
                <tr>
                    <th>摄影背包</th>
                    <th>终身质保</th>
                </tr>
                </tbody>
            </table>

            <p style="margin-top:2rem;">2、保修更换产品或配件：<br />如果保修服务涉及更换产品，那么被更换的产品跟配件将成为PGYTECH蒲公英的财产，而更换的产品配件将成为您的财产。只有未经过改动的PGYTECH蒲公英产品和配件方可进行更换。PGYTECH蒲公英提供的更换产品或配件可能不是全新的，但肯定是处于良好的工作状态，并至少在性能上与被更换件等同。更换的产品或配件在原产品剩余的保修期内享有同等的保修服务。更换的产品或配件将绑定新的SN。</p>
            <p>
                <span> 注：</span><br />
                1、已洗涤过的停机坪、便携包等车缝类产品不予办理七天无理由退货。<br />
                2、已拆封的保护壳/保护套/贴膜/贴纸不予办理七天无理由退货。<br />
                3、产品丢失不予以办理七天无理由退货。<br />
                4、关于终身质保的具体详细规定详见附件《终身质保说明》，附件未尽事宜，以本政策内容为准。<br />
                5、保修时应出示：标明日期的购买证明、SN码（位于包装盒或产品上）、以及所购买产品的名称型号说明。<br />
            </p>
        </li>
        <li><br />
            <h4>三、不予保修条款</h4>
            <p>以下情况不属于保修范围：<br />
                1、使用不当或保管不当造成的损坏；<br />
                2、未按使用说明书等的要求进行操作或故意行为造成的损坏；<br />
                3、擅自拆卸、改装产品；<br />
                4、属于易损件、消耗品；<br />
                5、非本公司特约维修人员维修造成的损坏；<br />
                6、发生问题后未及时停止使用并维修造成损坏扩大；<br />
                7、没有有效的购买证明，防伪码，或有效证明、防伪码被涂改；<br />
                8、超过保修期；<br />
                9、其他各种人为因素或不可抗力等其他非产品固有属性导致的问题。</p>
        </li>
        <li><br />
            <h4>四、售后服务收费标准</h4>
            <p>对于不属于免费服务范围的维修项目，可实行收费修理，具体收费标准根据产品差异有所不同。</p>
        </li>
        <li><br />
            <h4>五、免责声明</h4>
            <p> 1、为保护用户的合法权益，请您在使用本产品前务必仔细阅读我们随附本产品提供的【使用说明书】、【安全须知】。<br />本公司保留对上述文档进行更新的权利。请您务必按照【使用说明书】、【安全须知】使用本产品。<br />
                2、一旦开始使用本产品，即视为您已阅读、理解、认可和接受本产品的【使用说明书】、【安全须知】的全部条款和内容。<br />用户承诺对自已的行为及因此而产生的所有后果负责。用户承诺仅出于正当目的使用本产品，并且同意本条款及本公司可能制定的任何相关政策或者准则。<br />
                3、对于违反【使用说明书】、【安全须知】等所提示的使用行为或不可抗因素导致的一切人身伤害、事故、财产损失、法律纠纷，<br />及其他一切造成利益冲突的不利事件，均由用户自己承担相关责任和损失，本公司不承担任何责任。<br />
                4、用户使用本产品直接或间接发生的任何违反法律规定的行为，本公司将不承担任何责任。<br />
                5、质保服务不包括对用户财产的附带或者间接损失的索赔。<br />
                6、本政策部分条款的效力瑕疵并不影响其他条款的效力，本政策的最终解释权归本公司所有。</p>
        </li>
    </ul><br />
</div>

<div class="newPro">
    <div class="proTit">
        <p>终身质保说明</p>
    </div>
</div>
<ul class="list-unstyled after-sale-two" style="width: 1090px; margin: 0 auto 10px;list-style-type: none; list-style-position: initial; color: rgb(96, 96, 96); font-family: 微软雅黑, Helvetica, Arial, Verdana, sans-serif;">
    <li>
        <h4><span style="color:#333333;">终身质保：</span></h4>

        <p style="margin-bottom: 10px;">如果您购买PGYTECH产品（享受终身质保服务的产品）出现故障，无法正常使用，我们将对其进行维修或换新。<br />
            请注意“出现故障，无法正常使用”的含义：不影响产品安全性和功能的外观问题不在保修范围之内。 正常使用中，由出厂质量问题导致的破损或功能缺失，在保修范围内。<br />
            有限终身保修不包括：一般的外观问题（如：剧烈运动带来的划痕或拉链、织物磨损等），或将其用于预期目的以外的其他用途（如：包内装电锯导致破损），以及属于《PGYTECH售后服务政策》第三条规定的其他情形。<br />
            有限终身质保不可转让，仅适用于原购买者。从未经授权的经销商处购买的产品不享有终身保修。<br />
            保修索赔都应出示：标明日期的有效购买证明，防伪码，以及所购买产品的名称型号说明。</p>
    </li>
    <li>&nbsp;
        <h4><span style="color:#333333;">保修凭证：</span></h4>

        <p style="margin-bottom: 10px;">方式一：请扫描保修卡上的二维码关注官方公众号进行登记注册，享受终身质保服务。<br />
            方式二：微信搜索
            <b>“PGYTECH”</b>
            &nbsp;关注公众号进行登记注册，享受终身质保服务。</p>
    </li>
    <li>&nbsp;
        <h4><span style="color:#333333;">质保方式：</span></h4>

        <p style="margin-bottom: 10px;">经客服确认后，会让您联系就近的售后网点进行售后服务（邮寄）。PGYTECH售后检查相关产品并确认有缺陷后，我们将自行决定免费修理或更换您的PGYTECH产品。PGYTECH蒲公英提供的更换产品或配件可能不是全新的，但肯定是处于良好的工作状态，并至少在性能上与被更换件等同。如果您的产品已经停售，本公司将会以同等价值的类似产品加以替换。</p>
    </li>
    <li>&nbsp;
        <h4><span style="color:#333333;">运费：</span></h4>

        <p style="margin-bottom: 10px;">用户先支付单程运费，如检测为质量问题，双程运费由我们承担。</p>
    </li>
</ul>
<span style="color:#666666;"></span></div>

<div>&nbsp;</div>
{include file=$footer}
</body>
</html>