<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{include file=$header}
<div style="height: 360px">

    <h1 style="text-align: center;padding-top: 150px"><span style="color:#FF0000;">您的权限不足...</span></h1>

    <div style="text-align: center;">&nbsp;</div>


    <div style="text-align: center;">
        你可以<a href="/mvc2/application/template/index/login.html" rel=""  url-flag="0" url-flagtarget="" style="color: #337ab7">登录</a> 或者 <a href="/mvc2/application/template/index/enroll.html" url-flag="0" url-flagtarget="" style="color: #337ab7">注册</a>后访问，如果还无法访问，请联系网站管理员。</div>
</div>


{include file=$footer}
</body>
</html>