<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>联系我们--仅作学习使用，侵删</title>
</head>
<link rel="stylesheet" href="{CSS_ADD}index/common.cs">
<link rel="stylesheet" href="{CSS_ADD}index/contact.css">
<body>
{include file=$header}
<!-- 介绍图片开始 -->
<div class="descImg"></div>
<!-- 介绍图片结束 -->
<!-- 关于开始 -->
<div class="about">
    <div class="aboutContent">
        <div class="aboutTit">联系我们</div>
        <p>地址：苏州昆山市淀山湖镇万园路66号</p>
        <p>电话：0512-5013-2660</p> 
        <p>邮箱：info@pgytech.com</p>
        <p>周一至周五09:00-17:00（北京时间）</p>
    </div>
    <div class="right">
        <input type="text" placeholder="姓名" required style="width: 500px; height: 40px;"><br>
        <br>
        <input type="email" placeholder="邮箱"style="width: 500px; height: 40px;"><br>
        <br>
        <input type="text" placeholder="联系电话" required style="width: 500px; height: 40px;"><br>
        <br>
        <input type="text" placeholder="内容" required style="width: 500px; height: 60px;">
        <br>
        <br>
        <div class="submit">
            提交
        </div>
    </div>
</div>
<!-- 关于结束 -->
<!-- 底部开始 -->
{include file=$footer}
</body>
<script src="js/index.js"></script>
</html>