<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>蒲公英项目--仅作学习使用，侵删</title>

    <link rel="stylesheet" href="{CSS_ADD}index/common.css">
    <link rel="stylesheet" href="{CSS_ADD}index/index.css">
</head>
<body>
{include file=$header}
<div class="banner">
    <div class="slideShow">
        <div class="wheel">
            <div class="wheelDesc">
                <p>运动相机吸盘支架</p>
                <p>稳如泰山、变若精灵；随吸、随拍；随时记录</p>
                <div class="knowMore">了解更多</div>
            </div>
        </div>
        <div class="wheel">
            <div class="wheelDesc">
                <p>运动相机三脚架自拍杆PULS</p>
                <p>大屏掌控全新拍摄视角</p>
                <div class="knowMore">了解更多</div>
            </div>
        </div>
        <div class="wheel">
            <div class="wheelDesc">
                <p>OSMO ACTION滤镜</p>
                <p>让你的OSMO ACTION更具有创造力</p>
                <div class="knowMore">了解更多</div>
            </div>
        </div>
        <div class="wheel">
            <div class="wheelDesc">
                <p>OSMO ACTION 新品</p>
                <p>与世界分享不一样的你</p>
                <div class="knowMore">了解更多</div>
            </div>
        </div>
        <div class="wheel">
            <div class="wheelDesc">
                <p>OSMO POCKET滤镜系列</p>
                <p>让你的OSMO POCKET更具有创造力</p>
                <div class="knowMore">了解更多</div>
            </div>
        </div>
    </div>
    <div class="bannerBar"></div>
</div>
<!--  轮播图部分结束  -->

<!-- 新品体验开始 -->
<div class="newPro">
    <div class="proTit">
        <p>新品体验</p>
    </div>
    <ul>
        <li>
            <img src="{IMG_ADD}list1.jpg" alt="">
            <div>MAVIC AIR 2 滤镜</div>
            <img src="{IMG_ADD}cover2.jpg" alt="" class="coverImg">
        </li>
        <li>
            <img src="{IMG_ADD}list2.jpg" alt="">
            <div>MAVIC MINI 滤镜 (专业版）</div>
            <img src="{IMG_ADD}cover1.jpg" alt="" class="coverImg">
        </li>
        <li>
            <img src="{IMG_ADD}list3.jpg" alt="">
            <div>MAVIC 2 PRO 滤镜 (专业版）</div>
            <img src="{IMG_ADD}cover3.jpg" alt="" class="coverImg">
        </li>
        <li>
            <img src="{IMG_ADD}list4.jpg" alt="">
            <div>摄影背包</div>
            <img src="{IMG_ADD}cover4.jpg" alt="" class="coverImg">
        </li>
        <li>
            <img src="{IMG_ADD}list5.jpg" alt="">
            <div>摄影魔术手</div>
            <img src="{IMG_ADD}cover5.jpg" alt="" class="coverImg">
        </li>
        <li>
            <img src="{IMG_ADD}list6.jpg" alt="">
            <div>运动相机吸盘支架</div>
            <img src="{IMG_ADD}cover6.jpg" alt="" class="coverImg">
        </li>
    </ul>
</div>
<!-- 新品体验结束 -->

<!-- 记录精彩瞬间开始 -->
<div class="record">
    <div class="proTit">
        <p>记录每个精彩时刻</p>
    </div>
    <ul>
        <li>
            <div class="content"><img src="{IMG_ADD}play.png" alt=""></div>
        </li>
        <li>
            <div class="content"><img src="{IMG_ADD}play.png" alt=""></div>
        </li>
        <li>
            <div class="content"><img src="{IMG_ADD}play.png" alt=""></div>
        </li>
    </ul>
</div>
<!-- 记录精彩瞬间结束 -->

<!-- 关于开始 -->
<div class="about">
    <div class="aboutContent">
        <div class="aboutTit">关于 pgytech</div>
        <p>PGYTECH(蒲公英智能科技)源自于一群热爱航拍与摄影的年轻人对更佳摄影体验的追求。</p>
        <p>理解需求，每一个创新的理念都源自于对摄影的切身体会; 追求卓越，每一个产品的打磨都疑聚了</p>
        <p>设计师对摄影的热爱和理解。</p>
        <div class="knowMore">查看更多</div>
    </div>
</div>
<!-- 关于结束 -->

<!-- 底部三图开始 -->
<div class="bottomImg">
    <ul>
        <li>
            <img src="{IMG_ADD}bottom1.jpg" alt="">
            <img src="{IMG_ADD}cover7.jpg" alt="" class="coverImg">
        </li>
        <li>
            <img src="{IMG_ADD}bottom2.jpg" alt="">
            <img src="{IMG_ADD}cover8.jpg" alt="" class="coverImg">
        </li>
        <li>
            <img src="{IMG_ADD}bottom3.jpg" alt="">
            <img src="{IMG_ADD}cover9.jpg" alt="" class="coverImg">
        </li>
    </ul>
</div>
<!-- 底部三图结束 -->

{include file=$footer}
</body>
<script src="{JS_ADD}index.js"></script>
</html>