.newPro{
    width: 1300px;
    height: 70px;
    margin: 0 auto;
    margin-top: 40px;
}

.newPro .proTit p{
    position: relative;
    width: 280px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    font-size: 40px;
    font-weight: bolder;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.newPro .proTit p:first-child:before{
    position: absolute;
    content: "";
    width: 100px;
    top: 50%;
    height: 1px;
    background: black;
    left: -100px;
}

.newPro .proTit p:first-child:after{
    position: absolute;
    content: "";
    width: 100px;
    top: 50%;
    height: 1px;
    background: black;
    right: -100px;
}
p{
    font-size: 14px;
    color: #606060;
}
.sale {
    text-align: center;
    font-weight: bold;
    color: #333;
    font-size:36px;
}

.list-unstyled {
    list-style: none;
    padding: 0;
}

.after-sale li p {
    line-height: 28px;
    text-align: justify;
}

.after-sale h4,.after-sale-two h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight:bold;
    font-size:24px;
    color:#333333;
}

.return-table {
    width: 100%;
}

table, table tr th, table tr td {
    border: 1px solid #999;
}

table {
    width: 200px;
    min-height: 25px;
    line-height: 25px;
    text-align: center;
    border-collapse: collapse;
}

.return-table thead th,
.return-table tbody th {
    line-height: 2.5rem;
    text-align: center;
    background-color: #E7E6E6;
    padding: 0;
    color: #606060;
    font-size: 14px;
}

.return-table tbody th {
    background-color: unset;
    line-height: 60px;
    font-weight: normal;
    color: #606060;
    font-size: 14px;
}

.return-table thead th:nth-child(1) {
    width: 35%;
}

.return-table thead th:nth-child(2) {
    width: 65%;
}

.after-sale-two li p {
    line-height: 28px;
    text-align: justify;
}