body,ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
    background: #fff;
    font-family: "微软雅黑",Futura-CondensedMedium,HelveticaNeue,HiraginoSansGB-W3,STHeiti,"Microsoft YaHei",tahoma;
}
a{
    text-decoration: none;
}

header{
    width: 100%;
    height: 80px;

    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
}

header .logo{
    width: 460px;
    height: 100%;
    margin-left: 50px;
    float: left;
}
header .logo img{
    margin-top: 15px;float: left;
}
header .logo h3{
    float: left;
    height: 100%;
    font-size: 20px;
    color: #666;
    line-height: 40px;
    margin-left: 30px;
}
header .menu{
    float: right;
    margin-right: 50px;
    width: 730px;
    height: 100%;
}
.menu>li{
    width:14.285%;height: 100%;
    text-align: center;
    line-height: 80px;
    float: left;
    font-size: 20px ;
}
.menu a{
    color: #000;
}
.son{
    width: 100%;
    background: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    transform: translateY(30px);
    transition: transform 0.5s ease;
    visibility: hidden;

}
.menu>li:hover .son{
    transform: translateY(0px);
    visibility: visible;
}